{% extends '../../Forms/ModalForm.html' %}
{#% load templang %#}
{% block divId %}batchImport{% endblock %}
{% block formId %}batchImportForm{% endblock %}
{% block method %}{{ form.BatchImportForm.method }}{% endblock %}
{% block action %}{{ form.BatchImportForm.action }}{% endblock %}
{% block head %}<h2>Batch Import</h2>{% endblock %}
{% block body %}
  {% for each in form.BatchImportForm.fields %}
    <div class="form-group">
      {#{ field | genDOM:each | safe }#}
    </div>
  {% endfor %}
{% endblock %}
{% block foot %}
  <button onclick="setTimeout(function() { location.href='/backend/user/'}, 500);" class="btn btn-error" data-dismiss="modal">Cancel</button>
  <button onclick="setTimeout(function() { document.getElementById('batchImportForm').submit(); }, 500);" class="btn btn-success" data-dismiss="modal">Submit</button>
{% endblock %}
