{% extends '../../Forms/modal_form.html' %}
{% load templang %}
{% block head %}
  <h2>Delete User</h2>
{% endblock %}
{% block body %}
  <p>Are you sure you want to delete this column?</p>
  <ul style="list-style: none;">
    <li>_id: {{ id }}</li>
    <li>Account: {{ document.account }}</li>
    <li>Name: {{ document.name }}</li>
    <li>Email: {{ document.email }}</li>
  </ul>
{% endblock %}
{% block foot %}
  <a href="/backend/user/" class="btn btn-success">Cancel</a>
  <button type="submit" class="btn btn-danger">Confirm</button>
{% endblock %}
