{% extends 'app_base.html' %}
{% block page_title %}User - Dashboard{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <button type="button" data-toggle="modal" data-target="#addUser" class="btn btn-primary">New User</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>_id</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for each in users %}
          <td>{{ each.id }}</td>
          <td>{{ each.account }}</td>
          {% endfor %}
        </tbody>
      </table>

      <!-- BEGIN Add User Form -->
      <div class="modal fade in" id="addUser" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form id="addUserForm" method="POST">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h2>Add User</h2>
              </div>
              <div class="modal-body" id="document-modal-body">
                <textarea id="document" name="document" style="diaply: none;" ></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn-error" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- END Add User Form -->
    </div>
  </div>
{% endblock %}
